:root {
    --primary-color: #fff;
    --secondarycolor: #000;
}

body {
    background-color: #121a1f;
    color: #fff;
    font-family: sans-serif;
    margin: 0 0%;

}

.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #121a1f;
    padding-bottom: 2%;
}


.logo {
    width: 3%;
    cursor: pointer;
    margin: 20px 0px;
}

.search {
    position: relative;
    margin-left: 5%;
    border: 1px solid #1F2933;
    background-color: #2c3641;
    color: #fff;
    padding: 0.5% 3%;
    font-size: 15px;
    border-radius: 10px;
}

nav {
    flex: 1;
    text-align: right;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    margin: 0% 2%;
    display: inline-block;
    font-size: 20px;
}
a{
    color: white;
}
nav .navcontent2 li > i {
color:white;
}

.nav-profile {
    border: 1px solid #1F2933;
    font-size: 15px;
    padding: 0.5% 1%;
    color: #fff;
    background-color: #2c3641;
    border-radius: 50px;
}

.nav-profile-name {
    font-size: 15px;
    padding: 0 5px;
    color: rgb(204, 204, 204);
}

#preview{
    position: fixed;
    display: none;

    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    
}

.preview-close{
    align-items: right;
    right: 0;
    font-size: 40px;
    cursor: pointer;
}
.preview-picture{
    width: 50%;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.left {
    align-items: left;
    position: fixed;
    left: 2%;
    border-radius: 20px;
    font-size: 12px;
    width: 20%;
}

.section1 {
    background-color: #202b36;
    border: 1px solid #1b222a;
    border-radius: 20px;
    text-align: center;
    padding: 5%;
}



#follow {
    display: flex;
    align-items: center;
    border-top: 2px solid #2c3641;
    border-bottom: 2px solid #2c3641;
    justify-content: space-around;
}

#follow p {
    color: #b1b1b1;
}

.section1 h4 {
    color: rgb(0, 170, 255);
}

.section2 {
    background-color: #202b36;
    border: 1px solid #1b222a;
    border-radius: 20px;
    padding: 5%;
    margin-top: 5%;
}

#recommendation {
    display: flex;
    justify-content: space-around;
    padding: 5px;

    align-items: center;
}

#recommendation #rec {
    font-size: 10px;
}

#recommendation #rec-button {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 20%;
    cursor: pointer;
    align-items: center;
}

.showmore {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(0, 170, 255);
}

.showmore1 {
    padding: 0 5%;
}

.center {
    width: 50%;
    display: flex;
    margin: 0 2%;
    flex-direction: column;
    cursor: pointer;
}

.post {
    display: flex;
    flex-direction: row;
    background-color: #202b36;
    border: 1px solid #1b222a;
    border-radius: 20px;
    padding: 2%;
    margin-top: 2%;
}

#post-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2%;
    width: 100%;
}

.search2 {

    width: 90%;
    border: 1px solid #1F2933;
    background-color: #2c3641;
    color: #fff;
    
    font-size: 15px;
    border-radius: 10px;
}

::placeholder {
    color: silver;
    text-align: left;
}

#post-2 {
    display: flex;
    flex-direction: row;
    padding: 2% 0;
    width: 100%;
    justify-content: space-around;
}

.post-2-1 {
    font-size: 20px;
    padding: 1% 10%;
    border-radius: 7px;
}

.post-2-1:hover {
    color: rgb(108, 255, 3);

}

.post-2-1 span {
    font-size: 15px;
    padding: 0 10%;
}

.content1 {
    display: flex;
    flex-direction: row;
    background-color: #202b36;
    border: 1px solid #1b222a;
    border-radius: 20px;
    padding: 2%;
    margin-top: 2%;
}

.content1-main {
    margin: 0 2%;
}

.content1-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content1-1-text {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.check {
    color: rgb(108, 255, 3);
    margin: 0 10px;
    font-size: 20px;
}

.content1-1-text p {
    color: #ababab;
}

.content1-1-text h4 {
    margin: 4px 0;
}

.time {
    display: flex;
    flex-direction: column;
}

.time p {
    margin: 5px 0;
    color: #ababab;
}

.content1-1-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2% 0;
}

.content1-1-iconset {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1% 0;
}

.iconcircle {
    border-radius: 100%;
    font-size: 20px;
    margin: 0 5px;
    color: #1b222a;
    border: 5px solid #fff;
    background-color: #fff;
}

.content1-1-iconset p {
    color: #ababab;
    font-size: 12px;
}

.content1-1-iconset-text {
    display: flex;
    flex-direction: row;
    color: #ababab;
    justify-content: flex-end;
    font-size: 12px;
}

.content1-1-iconset-text p {
    margin: 0 5px;
}

.content1-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.iconfooter {
    background-color: #2c3641;
    border: 1px solid #2c3641;
    padding: 2% 4%;
    border-radius: 10px;
    font-size: 20px;
}

.iconfooter span {
    font-size: 15px;
    padding: 0 10px;
}

.content1-image {
    width: 100%;
    border-radius: 20px;
}

.right {
    border-radius: 20px;
    position: fixed;
    right: 2%;
    font-size: 12px;
    width: 20%;
}

.section4 {
    background-color: #202b36;
    border: 1px solid #1b222a;
    border-radius: 20px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.section4-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gear {
    font-size: 20px;
}

.section4-content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2c3641;
}

.section4-content p {
    color: #ababab;
}

.section4 h4 {

    color: rgb(0, 170, 255);
}

.mobile-footer {
    display: none;
}

.navmobile {
    display: none;
}

#mobile-sidebar {
    display: none;
}

@media (max-width:900px) {
    .navmobile {
        display: flex;
        background-color: #121a1f;
        position: fixed;
        margin: 0%;
        flex-direction: row;
        padding: 3% 2%;
        align-items: center;
    }

    .mobile-logo {
        width: 10%;
        height: 10%;
    }

    #post-1 {
        width: 100%;
    }

    .navbar {
        display: none;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .container {
        margin: 20% 2%;
        display: flex;

        flex-direction: column;
    }

    .center {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .content1-main {
        width: 100%;
    }

    .search2 {
        width: 60%;
        margin-left: 2%;
        padding: 2% 10%;
    }

    .mobile-footer {
        display: flex;
        bottom: 0;
        width: 100%;
        position: fixed;
        font-size: 20px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #1b222a;
        color: #fff;
       
        padding: 2%;
    }
.mobile-footer a{
    color: #fff;
}
    .iconx:hover {
        color: greenyellow;
    }

    .iconfooter {
        padding: 1% 2%;
        font-size: 12px;
    }

    .iconfooter span {
        font-size: 12px;
    }

    #mobile-sidebar {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 50%;
        height: 100%;
        padding: 2%;
        color: #fff;
        background-color: #121a1f;
        z-index: +1;
    }
    .sidebar-topper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        cursor: pointer;
    }
    .sidebar-profile{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        
    }
    .sidebar-profile-pic{
        width: 20%;
    }
    .sidebar-profile h4{
        margin: 0;
        font-size: 15px;
        padding: 5% 0;
    }
    .sidebar-profile p{
        margin: 0;
        padding: 1% 0;
        color: #ababab;
    }
    .sidebar-nav ul{
        text-align: left;
       padding: 0;
    }
    .nav-link {
        color: #fff;
        text-decoration: none;
    }
    #mobile-sidebar ul li {
        font-size: 20px;
        list-style: none;
        padding: 10% 0;
        font-weight: 700;
    }
    .nav-icon{
        padding-right: 10%;
    }
}
